.main__info {
  #{&}-subject {
    @include flexDisplay(row);
    justify-content: space-between;
    padding: 0.5rem 0;

    .subject-right {
      width: 45%;
      font-size: 90%;
      max-width: 110px;
    }
  }

  #{&}-timer {
    background: $secondary-color;
    margin-right: 1rem;
    padding: 0.3rem;
    border-radius: 2px;

    @include flexDisplay(row);
    grid-gap: 0.3rem;

    .time {
      background: $text-color;
      color: $neutral-color;
      padding: 0.1rem 0.2rem;
      border-radius: 5px;
    }
  }

  #{&}-timeBar {
    width: 100%;
    height: 3px;
    background: $secondary-color;

    div {
      width: 20%;
      height: 100%;
      background: $primary-color;
    }
  }

  #{&}-question {
    padding: 1rem 1rem;
  }

  #{&}-options {
    @include flexDisplay(column);
    font-size: 90%;
    grid-gap: 1rem;
    padding: 0 1rem 2rem 1rem;
    align-items: flex-start;

    p.wrongAnswer {
      background: $wrong-answer;
    }

    p.correctAnswer {
      background: $correct-answer;
    }

    p {
      width: 100%;
      padding: 3px 10px;
      background: $secondary-color;
      border: darken($secondary-color, 20%) 1px solid;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: darken($secondary-color, 5%);
      }
    }
  }

  #{&}-pagination {
    @include flexDisplay(row);
    justify-content: space-between;
    padding: 1rem 1rem;

    .next-btn {
      width: 45%;
      max-width: 140px;
      background: $primary-color;
      padding: 0.5rem 1rem;
      color: $neutral-color;
      border: none;
      box-shadow: none;
      font-size: 0.7rem;
    }
  }
}

.animate {
  animation: timeBar ease-in 15s 1 forwards;
}

@keyframes timeBar {
  0% {
    width: 20%;
  }

  100% {
    width: 100%;
  }
}

.completion_container {
  width: 100%;
  height: 100%;
  text-align: center;

  p {
    padding: 0 1rem;
    font-weight: map-get($font-weights, "bold");
    font-size: 1rem;
  }

  .crown {
    font-size: 10rem;
    color: $primary-color;
    margin: 2rem 0;
  }

  .completion_btns {
    margin: 2rem 0;
    width: 100%;

    .quit {
      font-size: 100%;
      padding: 0.3rem 0.5rem;
      width: 35%;
      box-shadow: none;
      border: $primary-color 1px solid;
      border-radius: 5px;
      max-width: 200px;

      &:hover {
        background: $primary-color;
        color: $neutral-color;
      }
    }

    .replay {
      @extend .quit;
      background: $primary-color;
      color: $neutral-color;
      margin-right: 1rem;
    }
  }
}
